<ion-content [fullscreen]="true">
  <div fxFlexFill fxLayout="column" fxLayoutGap="24px">
  <div fxLayout="row" class="header-text" fxLayoutAlign="center start">
    <h2>Reset Password</h2>
  </div>
  <div fxFlex fxLayout="row" class="form-container" fxLayoutAlign="center">
    <form fxFlex fxLayout="column" fxLayoutGap="24px" [formGroup]="form">
      <ion-item class="inputs">
        <ion-label position="stacked">Email</ion-label>
        <ion-input
          inputmode="email"
          type="email"
          placeholder="yourname@email.com"
          [autofocus]="true"
          formControlName="email"
        ></ion-input>
      </ion-item>
      <ion-button
        class="button"
        expand="block"
        fill="solid"
        color="primary"
        [disabled]="form.invalid"
        (click)="sendReset()"
        >Send Reset Link</ion-button
      >
    </form>
  </div>
  <div fxFlex fxLayout="row" fxLayoutAlign="center end">
    <p><a routerLink="/login">Return To Log In</a></p>
  </div>
</div>
</ion-content>
